# Base de datos
DB_NAME=salon_belleza
DB_USER=postgres
DB_PASSWORD=tu_contraseña
DB_HOST=localhost
DB_PORT=5432

# JWT
JWT_SECRET=tu_secreto_jwt_super_seguro

# Entorno
NODE_ENV=development

# Servidor
PORT=3001

# Correo electrónico - SendGrid
#aqui va la apikey de sendgrid

EMAIL_FROM=Salón Belleza <noreply@salonbelleza.com>
